@use 'mixins.scss' as mix;
@use 'vars.scss' as vars;
@use 'breakpoints.scss' as bp;
@use 'left-section.scss';
@use 'right-section.scss';

*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

header{
    @include mix.flex-center();
    height: 10vh;
    width: 100vw;
    background-color: vars.$darker-grey;
    color: vars.$light-color;
    & .cv__title{
        transition: .3s ease;
        &:hover{
        border-bottom: 1px solid vars.$light-grey;
    }
    }
}

@include bp.half-break(){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.hidden{
    display: none;
}