@mixin flex-center ($direction:row, $justify: center){
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin absolute-center(
    $top: 0,
    $left: 0,
    $right: 0,
    $bottom: 0){
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}