@use 'vars.scss' as vars;
@mixin flex-center ($direction:row, $justify: center , $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin absolute-center(
    $top: 0,
    $left: 0,
    $right: 0,
    $bottom: 0){
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin hover-focus() {
    transition: border .2s ease;
    &:hover,
    &:focus {
      border: 1px solid vars.$dark-violet;
    }
}
@mixin hover-bg($bg) {
    transition: background-Color .3 ease;
    &:hover,
    &:focus{
        background: $bg;
    }
}