$dark-color: rgb(20, 20, 20);
$darker-grey: rgb(65, 60, 60);
$light-grey: rgb(199, 194, 194);
$light-color: rgb(248, 245, 245);
$dark-violet: rgb(76, 0, 197);
$light-violet: rgb(141, 11, 192);
$input-bg:  rgb(233, 233, 233);
$correct-green: rgb(19, 165, 14);
$incorrect-red: rgb(228, 17, 17);
$warn-yellow: rgb(251, 255, 0);
$normal-font: 17px;
$subtitle-font: 22px;
$title-font: 28px;