$dark-color: rgb(20, 20, 20);
$darker-grey: rgb(49, 47, 47);
$light-grey: rgb(19, 17, 17);
$light-color: rgb(240, 232, 232);
$dark-violet: rgb(76, 0, 197);
$light-violet: rgb(141, 11, 192);
$input-bg:  rgb(224, 224, 224);
$correct-green: rgb(19, 165, 14);
$incorrect-red: rgb(228, 17, 17);
$warn-yellow: rgb(251, 255, 0);
$normal-font: 17px;
$subtitle-font: 22px;
$title-font: 28px;